<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<div class="center">
<br>
  <h1>Welcome to online blackjack</h1>
  
  <% if logged_in?%>
    <h2>You're logged in.<h2>
    <%= link_to "Play a Game!",  '/bet', class: "btn btn-lg btn-success"%>
    <br> <br>
    <%= link_to "View your profile", current_user, class: "btn btn-lg btn-primary"%>
    
  <%else%>
  <h2>Log in below! </h2>
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
        <% end %>

      <%= f.submit "Log in", class: "btn btn-lg btn-success" %>
      <h2>or </h2>
       <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary"%>
    <% end %>

    
  </div>
</div>
   <%end%>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
