<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<div class="center">
<br>
<h1><%= @user.name %> </h1>
<h2><%= @user.email %> </h2>
<h2 style = "font-size: 30px; margin-bottom:50px;">tokens: <%= @user.tokens %></h2>

 <%= link_to "Play a Game!", '/bet', style: "font-size: 30px; color:white;", class: "btn btn-lg btn-success"%>
 <br><br>
 <%= link_to "Settings", edit_user_path(current_user), style: "font-size: 20px; margin-bottom: 450px;", class: "btn btn-md btn-primary" %>



