<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_session.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_session.game_id %>
</p>

<p>
  <strong>Currently playing:</strong>
  <%= @game_session.currently_playing %>
</p>
<p>
  <strong>Deck_id:</strong>
  <%= @game_session.get_deck_id %>
</p>

<%= link_to 'Edit', edit_game_session_path(@game_session) %> |
<%= link_to 'Back', game_sessions_path %>
